html{
  background-color: whitesmoke;
}


input[type="date"]::-webkit-calendar-picker-indicator {
 /* background-color: white !important; */
 background-image: url('./img//calendar_1869397.png') ;
 width: 20%;
}

input[type="date"]{
  background-color: #16151c;
  border: none;
  color: white;
}
