*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #088b8b;
}

.a{
    width: 75%;
    padding-left: 10px;
}

.b{
    justify-content: end;
    align-content: end;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 25%;
}

.c{
    display: flex;
    justify-content: flex-end;
}

.d{
    display: flex;
    justify-content: flex-end;
}


.box{
    
}

.container{
    display: flex;
    flex-direction: column;

}

.text{
    display: flex;
    color: #088b8b;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 130%;
    margin: 0px 80px 0px 0px;
    height: 10vh;
    /* height: 10vh; */
    background-color: white;
}

.circle-container{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.semicircle{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1){
    background-color: #088b8b;
    z-index: 2;
}

.semicircle:nth-child(2){
    background-color: #088b8b;
    z-index: 3;
}

.semicircle:nth-child(3){
    background-color: #ddd;
    z-index: 4;
    /* display: none; */
}

.outermost-circle{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
    /* display: none; */
}

/* hover */
/* .main-container:hover .semicircle:nth-child(1){
    transform:  rotate(180deg);
    transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(2){
    transform:  rotate(360deg);
    transition: 2s linear;
}

.main-container:hover .semicircle:nth-child(3){
    opacity: 0;
    
    transition: opacity 0s 1s;
} */

/* timer */
.timer-container {
    width: 30px;    
    height: 200px;
    z-index: 6;
    color: #088b8b;
}
    
    .timer {
    width: 400px;
    height: 100px;
    z-index: 7;
    
    }
    
    
    .timer div {
    font-size: 60px;
    font-weight: 100;
    /* width: 80px; */
    /* height: 88px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    /* font-size: 30px; */
    }
    
    
    .timer .colon {
    background-color: transparent;
    /* width: 1px; */
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3px;
    }

    #btn1{
        margin-left: 46px;
    }

    #btn1:hover{
        cursor: pointer;
    }

    #btn2{
        display: none;
    }

    .btn {
        display: inline-block;
        border-radius: 7px;
        border: none;
        background: #1875FF;
        color: white;
        font-family: inherit;
        text-align: center;
        font-size: 13px;
        box-shadow: 0px 14px 56px -11px #1875FF;
        width: 10em;
        padding: 1em;
        transition: all 0.4s;
        cursor: pointer;
       }
       
       .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
       }
       
       .btn span:after {
        content: 'OTP';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.7s;
       }
       
       .btn:hover span {
        padding-right: 3.55em;
       }
       
       .btn:hover span:after {
        opacity: 4;
        right: 0;
       }

       .reload{
        width: 40%;
        z-index: 10;
        /* padding: 0px 15px 15px 0px; */
        
       }
       #countDown{
        display: none;
       }